/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
    font-family: Roboto;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}


header {
    height: 72px;
    padding: 0 80px;

    box-shadow: 0px 0px 16px 0px rgba(38, 38, 38, 0.16);
    background: rgb(255, 255, 255);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search > input {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 2px;
    padding: 8px 12px;
}

.search > input:first-child {
    width: 68px;
}

.search > input:last-child {
    width: 292px;
}

.search > span {
    color: rgb(98, 98, 98);
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0%;
}

.buttons {
    display: flex;
    gap: 16px;
    align-items: center;
}

button {
    padding: 8px 16px;

    box-sizing: border-box;
    border-radius: 2px;
}

button.primary {
    border: 1px solid rgb(224, 224, 224);
    color: black;
}

button.secondary {
    background: rgb(38, 38, 38);
    color: white;
}

button.icon {
    padding: 25px 10px;
    border: none;
}

main {
    min-height: 500px;
    padding: 0 80px 80px 80px;
}

.search__block {
    margin-top: 32px;

    border-bottom: 1px solid gray;
    padding: 8px 0 16px 0;
    
    display: flex;
    justify-content: space-between;
}

.search__block__inputs {
    display: flex;
    align-items: center;
    width: 80%;
    gap:8px;
}

.arrow {
    stroke: black;
}

.search__block > input {
    width: 80%;
}

.catalog {
    margin-top: 56px;
}

.catalog__header {
    color: rgb(29, 29, 29);
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
}

.catalog__cards {
    margin-top: 16px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 16px;
}

.card__content {
    padding-top: 16px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card__content__title {
    color: rgb(29, 29, 29);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.card__content__subtitle {
    color: rgb(98, 98, 98);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.card__content__delivery_time {
    color: rgb(29, 29, 29);
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
}

footer {
    min-height: 72px;
    padding: 60px 80px;

    background: rgb(38, 38, 38);
    color: white;
}


footer > .link__block {
    margin-top: 40px;
     
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    padding: 32px 0 55px 0;

    display: flex;
    justify-content: flex-start;
    gap: 97px;
}

.link__block ul {
    columns: 2;
    gap: 150px;
}